@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #3978A3;

}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3978A3;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #1E4369;
}
p{
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
}
.links{
  color: white;
  text-decoration:  underline;
}
.links:hover{
  color: #3978A3;
  text-decoration: none;
}
li{
  color: #ffffff;
}